<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="overlay"></div>
      <img src="https://media2.s-nbcnews.com/i/newscms/2019_24/1448814/how-size-doesnt-make-you-happier-today-main-190614_b7784729377665100e60a6b2d3a6150e.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <div class="overlay"></div>
      <img src="https://si.wsj.net/public/resources/images/B3-DM067_RIGHTS_IM_20190319162958.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <div class="overlay"></div>
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="d-block w-100" alt="...">

    </div>
  </div>
</div>


<app-search-bar></app-search-bar>
